<div class="card" *ngFor="let course of courses | async">
  <div class="card-body">
    <h5 class="card-name">{{ course.name }}</h5>
    <p class="card-room">{{ course.room }}</p>
	<p class="card-timeDay">{{ course.timeDay }}</p>
	<p class="card-timeHour">{{ course.timeHour }}</p>
	<p class="card-maxSpace">{{ course.maxSpace }}</p>
	<p class="card-type">{{ course.type }}</p>
    <a routerLink="/course/{{ course.courseNo }}/edit" class="card-link">Edit</a>
    <a routerLink="/course/{{ course.courseNo }}/confirm-delete" class="card-link">Delete</a>
  </div>
</div>
